<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dossp.crp.credit.overdue.mapper.CreditOverdueMapper">

	<resultMap id="creditOverdueMap" type="com.dossp.crp.credit.overdue.model.CreditOverdueModel">
	
		<result property="dataDate" column="data_date" jdbcType="VARCHAR"/>
		<result property="corpName" column="corp_name" jdbcType="VARCHAR"/>
		
        <result column="ar_due_att_amt" property="arDueAttAmt" jdbcType="VARCHAR"/>
        <result column="ar_due_sec_amt" property="arDueSecAmt" jdbcType="VARCHAR"/>
        <result column="ar_due_sus_amt" property="arDueSusAmt" jdbcType="VARCHAR"/>
        <result column="ar_due_loss_amt" property="arDueLossAmt" jdbcType="VARCHAR"/>
        <result column="ar_due_total_amt" property="arDueTotalAmt" jdbcType="VARCHAR"/>
        
        <result column="pur_due_att_amt" property="purDueAttAmt" jdbcType="VARCHAR"/>
        <result column="pur_due_sec_amt" property="purDueSecAmt" jdbcType="VARCHAR"/>
        <result column="pur_due_sus_amt" property="purDueSusAmt" jdbcType="VARCHAR"/>
        <result column="pur_due_total_amt" property="purDueTotalAmt" jdbcType="VARCHAR"/>
	
	</resultMap>



	<select id="getGroupData" resultMap="creditOverdueMap">
	
		SELECT
			t.submit_date AS data_date,
			'中粮集团' corp_name,
			round(sum(t.ar_due_att_amt), 2) as ar_due_att_amt,
			round(sum(t.ar_due_sec_amt), 2) as ar_due_sec_amt,
			round(sum(t.ar_due_sus_amt), 2) as ar_due_sus_amt,
			round(sum(t.ar_due_loss_amt), 2) as ar_due_loss_amt,
			round(sum(t.ar_due_att_amt + t.ar_due_sec_amt + t.ar_due_sus_amt + t.ar_due_loss_amt), 2) as ar_due_total_amt,
			round(sum(t.pur_due_att_amt), 2) as pur_due_att_amt,
			round(sum(t.pur_due_sec_amt), 2) as pur_due_sec_amt,
			round(sum(t.pur_due_sus_amt), 2) as pur_due_sus_amt,
			round(sum(t.pur_due_att_amt + t.pur_due_sec_amt + t.pur_due_sus_amt), 2) as pur_due_total_amt
		FROM
			report_credit t
		WHERE t.submit_date = 
				(
					SELECT max(i.submit_date) FROM report_credit i
				)
		GROUP BY t.submit_date
	
	</select>
	
	<select id="getCorpData" resultMap="creditOverdueMap">
	
		SELECT
			t.submit_date AS data_date,
			replace(t.corp_name, '整体', '') as corp_name,
			round(sum(t.ar_due_att_amt), 2) as ar_due_att_amt,
			round(sum(t.ar_due_sec_amt), 2) as ar_due_sec_amt,
			round(sum(t.ar_due_sus_amt), 2) as ar_due_sus_amt,
			round(sum(t.ar_due_loss_amt), 2) as ar_due_loss_amt,
			round(sum(t.ar_due_att_amt + t.ar_due_sec_amt + t.ar_due_sus_amt + t.ar_due_loss_amt), 2) as ar_due_total_amt,
			round(sum(t.pur_due_att_amt), 2) as pur_due_att_amt,
			round(sum(t.pur_due_sec_amt), 2) as pur_due_sec_amt,
			round(sum(t.pur_due_sus_amt), 2) as pur_due_sus_amt,
			round(sum(t.pur_due_att_amt + t.pur_due_sec_amt + t.pur_due_sus_amt), 2) as pur_due_total_amt
		FROM
			report_credit t
		WHERE t.submit_date = 
				(
					SELECT max(i.submit_date) FROM report_credit i
				)
		GROUP BY t.submit_date, t.corp_name
	
	</select>
	
</mapper>