<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dossp.crp.market.var.mapper.MarketVarMapper">

	<resultMap id="dataMap" type="com.dossp.crp.market.var.model.MarketVarModel">
	
		<result column="trade_date" property="tradeDate" jdbcType="VARCHAR" />
		<result column="corp_code" property="corpCode" jdbcType="VARCHAR" />
		<result column="corp_name" property="corpName" jdbcType="VARCHAR" />
		<result column="unit_code" property="unitCode" jdbcType="VARCHAR" />
		<result column="unit_name" property="unitName" jdbcType="VARCHAR" />
		<result column="var_positive" property="varPositive" jdbcType="VARCHAR" />
		<result column="var_negative" property="varNegative" jdbcType="VARCHAR" />
		<result column="var_limit_positive" property="varLimitPositive" jdbcType="VARCHAR" />
		<result column="var_limit_negative" property="varLimitNegative" jdbcType="VARCHAR" />
		<result column="pnl" property="pnl" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="varMap" type="com.dossp.crp.market.var.model.MarketVarTableModel">
	
		<result column="org_code" property="orgCode" jdbcType="VARCHAR" />
		<result column="org_name" property="orgName" jdbcType="VARCHAR" />
		<result column="var" property="var" jdbcType="VARCHAR" />
		<result column="var_delta" property="varDelta" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<select id="getData" resultMap="dataMap" parameterType="com.dossp.crp.market.var.vo.MarketVarVo">
		SELECT
			d.date as trade_date,
			q.corp_code,
			q.unit_code,
			ROUND(q.VaR/10000,2) AS var_positive,
			ROUND((q.VaR * -1)/10000,2) AS var_negative,
			ROUND(r.var_limit/10000,2) AS var_limit_positive,
			ROUND(r.var_limit* -1/10000,2) AS var_limit_negative,
			ROUND(r.pnl_amt/10000 - r.pnl_amt_lastday/10000,2) AS pnl
		FROM
			(
				SELECT
					m.date,
					org.corp_code,
					org.corp_name,
					org.unit_code,
					org.unit_name
				FROM
					dim_time m
				INNER JOIN v_mdm_org_market org ON 
			    m.date BETWEEN #{beginDate} AND #{endDate} AND org.unit_code = #{corpCode}
			) d
		LEFT JOIN 
				(SELECT
					t.var_date,
					t.corp_code,
					t.unit_code,
					t.VaR
				FROM
					quant_var_corp t
				WHERE
					t.unit_code = #{corpCode} AND t.type = '1' AND t.in_check = '1'
			) q ON q.corp_code = d.corp_code AND q.unit_code = d.unit_code AND q.var_date = d.date
		LEFT JOIN (
				SELECT
					a.trade_date,
					a.corp_code,
					a.corp_name,
					a.unit_name,
					a.unit_code,
					a.pnl_amt,
					a.var_limit,
					(
						SELECT
							c.pnl_amt
						FROM
							v_report_future_spot_quant_pnl c
						WHERE
							c.trade_date = (
								SELECT
									max(trade_date)
								FROM
									v_report_future_spot_quant_pnl b
								WHERE
									b.trade_date <![CDATA[<]]> a.trade_date
								AND b.corp_code = a.corp_code
								AND b.unit_code = a.unit_code
								AND b.pnl_amt <![CDATA[<>]]> 0
							)
						AND c.corp_code = a.corp_code
						AND c.unit_code = a.unit_code
		
					) AS pnl_amt_lastday
				FROM
					v_report_future_spot_quant_pnl a
				WHERE
					trade_date BETWEEN #{beginDate} AND #{endDate}
				AND unit_code = #{corpCode}
				AND pnl_amt <![CDATA[<>]]> 0
		) r ON 
		r.corp_code = d.corp_code
		AND r.unit_code = d.unit_code
		AND r.trade_date = d.date
		
		ORDER BY
			d.date;
	
	</select>
	
	<select id="getSuperpositionData" resultMap="dataMap" parameterType="com.dossp.crp.market.var.vo.MarketVarVo">
		SELECT DISTINCT
			d.date AS trade_date,
			d.unit_name,
			ROUND(v.VaR / 10000, 2) AS var_positive
		FROM
			(
				SELECT
					m.date,
					org.corp_code,
					org.corp_name,
					org.unit_code,
					org.unit_name
				FROM
					dim_time m
				INNER JOIN v_mdm_org_market org ON 
			    m.date BETWEEN #{beginDate}
				AND #{endDate}
				AND org.unit_code IN
				(SELECT
					m.org_code
				FROM
					mdm_org_market m
				WHERE
					m.p_org_code = #{corpCode}
					AND m.is_sum = '0'  
					AND SUBSTR(SYSDATE(),1,10) 
					BETWEEN m.effective_date 
					AND m.expiry_date)
			) d
		LEFT JOIN (
			SELECT
				t.var_date,
				t.corp_code,
				t.unit_code,
				t.VaR
			FROM
				quant_var_corp t
			WHERE  t.unit_code IN
					(SELECT
						m.org_code
					FROM
						mdm_org_market m
					WHERE
						m.p_org_code = #{corpCode}
						AND m.is_sum = '0'  
						AND SUBSTR(SYSDATE(),1,10) 
						BETWEEN m.effective_date 
						AND m.expiry_date
					)
			AND t.type = '1'
			AND t.in_check = '1'
		) v ON v.corp_code = d.corp_code
		AND v.unit_code = d.unit_code
		AND v.var_date = d.date
	
	</select>
	
 
	 <select id="getDateList" resultType="java.lang.String"  parameterType="com.dossp.crp.market.var.vo.MarketVarVo">
		
		SELECT
			t.date
		FROM
			dim_time t
		WHERE
			t.date BETWEEN #{beginDate} AND #{endDate}
    </select>
    
    <select id="findMaxTradeDate" resultType="string">
		SELECT max(h.var_date) FROM quant_var_corp h
		
		<!-- SELECT max(h.trade_date) FROM v_report_future_spot_quant_pnl h -->
	</select>
	
	<select id="getJtztVar" resultMap="varMap" parameterType="com.dossp.crp.market.var.vo.MarketVarVo">
		SELECT
			ROUND(t.VaR / 10000, 2) AS var
		FROM
			quant_var_corp t
		WHERE
			t.var_date = '2018-01-25' AND t.unit_code = 'C1999'
		AND t.type = '1'
		AND t.in_check = '1'
	</select>
	
	<select id="getVarTableList" resultMap="varMap" parameterType="com.dossp.crp.market.var.vo.MarketVarVo">
			SELECT
				r.org_code,
				r.org_name,
				SUM(r.var_now) AS var,
				ROUND((SUM(r.var_now) - SUM(r.var_last)),2) as var_delta
			FROM
				(
					SELECT
						m.org_code,
						m.org_name,
						ROUND(t.VaR / 10000, 2) AS var_now,
						0 AS var_last
					FROM
						quant_var_corp t
					INNER JOIN mdm_org_market m ON m.org_code = t.unit_code
					AND m.p_org_code = 'C1999'
					WHERE
						t.var_date = #{endDate}
					AND t.type = '1'
					AND t.in_check = '1'
					UNION
						SELECT
							m.org_code,
							m.org_name,
							0 AS var_now,
							ROUND(t.VaR / 10000, 2) AS var_last
						FROM
							quant_var_corp t
						INNER JOIN mdm_org_market m ON m.org_code = t.unit_code
						AND m.p_org_code = 'C1999'
						WHERE
							t.var_date = (
								SELECT
									MAX(var_date)
								FROM
									quant_var_corp
								WHERE
									var_date <![CDATA[<]]> #{endDate}<!-- '2018-01-25' -->
							)
						AND t.type = '1'
						AND t.in_check = '1'
				) r
			GROUP BY
				r.org_code,
				r.org_name;
	
	</select>

</mapper>