<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dossp.crp.daily.group.mapper.DailyGroupMapper">

    <resultMap id="DailyGroupPnlMap"
               type="com.dossp.crp.daily.group.model.DailyGroupPnlModel">
        <result column="corp_name" property="corpName" jdbcType="VARCHAR"/>
        <result column="futures_pnl" property="futuresPnl" jdbcType="DECIMAL"/>
        <result column="spot_pnl" property="spotPnl" jdbcType="DECIMAL"/>
        <result column="total_pnl" property="totalPnl" jdbcType="DECIMAL"/>
        <result column="delta_pnl" property="deltaPnl" jdbcType="DECIMAL"/>
        <result column="ret" property="ret" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="DailyGroupChartMap"
               type="com.dossp.crp.daily.group.model.DailyGroupChartModel">
        <result column="corp_name" property="corpName" jdbcType="VARCHAR"/>
        <result column="total_pnl" property="totalPnl" jdbcType="DECIMAL"/>
        <result column="prev_total_pnl" property="prevTotalPnl" jdbcType="DECIMAL"/>
        <result column="budget_profit" property="budgetProfit" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap id="DailyGroupPositionMap"
               type="com.dossp.crp.daily.group.model.DailyGroupPositionModel">
        <result column="corp_name" property="corpName" jdbcType="VARCHAR"/>
        <result column="corp_code" property="corpCode" jdbcType="VARCHAR"/>
        <result column="cd_name" property="cdName" jdbcType="VARCHAR"/>
        <result column="cd_code" property="cdCode" jdbcType="VARCHAR"/>
        <result column="index_code" property="indexCode" jdbcType="VARCHAR"/>
        <result column="futures_position" property="futuresPosition" jdbcType="DECIMAL"/>
        <result column="spot_position" property="spotPosition" jdbcType="DECIMAL"/>
        <result column="total_position" property="totalPosition" jdbcType="DECIMAL"/>
        <result column="delta_position" property="deltaPosition" jdbcType="DECIMAL"/>
        <result column="rate" property="rate" jdbcType="DECIMAL"/>
    </resultMap>


    <select id="getPnlData" resultMap="DailyGroupPnlMap" parameterType="java.lang.String">
            SELECT
                t.corp_name,
                t.corp_code,
                xs.futures_pnl,
                xs.spot_pnl,
                xs.total_pnl,
                xs.delta_pnl,
                round(xs.drawdown_month/100000000,2) as ret
            FROM
                mdm_app_daily t
            LEFT JOIN (
                SELECT
                    ls.corp_code,
                    ls.total_pnl,
                    ls.ytd_futures_total_pnl AS futures_pnl,
                    ls.ytd_spot_total_pnl AS spot_pnl,
                    round(
                        (
                            ls.total_pnl - ls.prev_total_pnl
                        ),
                        2
                    ) delta_pnl,
                    d.drawdown_month
                FROM
                    (
                        SELECT
                            x.corp_code,
                            SUM(x.prev_total_pnl) prev_total_pnl,
                            SUM(x.total_pnl) total_pnl,
                            SUM(x.ytd_futures_total_pnl) ytd_futures_total_pnl,
                            SUM(x.ytd_spot_total_pnl) ytd_spot_total_pnl
                        FROM
                            (
                                SELECT
                                    a.corp_code,
                                    round(
                                        SUM(a.ytd_total_pnl) / 100000000,
                                        2
                                    ) AS total_pnl,
                                    '' prev_total_pnl,
                                    round(
                                        sum(a.ytd_futures_total_pnl) / 100000000,
                                        2
                                    ) ytd_futures_total_pnl,
                                    round(
                                        sum(a.ytd_spot_total_pnl) / 100000000,
                                        2
                                    ) ytd_spot_total_pnl
                                FROM
                                    report_total_all a
                                WHERE
                                    a.corp_code = a.unit_code
                                AND a.trade_date = #{_parameter}
                                GROUP BY
                                    a.corp_code
                                UNION ALL
                                    SELECT
                                        p.corp_code,
                                        '' total_pnl,
                                        round(
                                            SUM(p.ytd_total_pnl) / 100000000,
                                            2
                                        ) AS prev_total_pnl,
                                        '' ytd_futures_total_pnl,
                                        '' ytd_spot_total_pnl
                                    FROM
                                        report_total_all p
                                    WHERE
                                        p.corp_code = p.unit_code
                                    AND p.trade_date = (
                                        SELECT
                                            MAX(t.trade_date)
                                        FROM
                                            report_total_all t
                                        WHERE
                                            t.trade_date <![CDATA[<=]]> date_add(#{_parameter}, INTERVAL - 1 DAY)
                                    )
                                    GROUP BY
                                        p.corp_code
                            ) x
                        GROUP BY
                            x.corp_code
                    ) ls
                LEFT JOIN quant_drawdown d ON d.corp_code = d.unit_code
                AND d.corp_code = ls.corp_code
                AND d.trade_date = #{_parameter}
            ) xs ON xs.corp_code = t.corp_code
            WHERE
                t.module_name = 'pnl'
    </select>

    <select id="getChartData" resultMap="DailyGroupChartMap" parameterType="java.lang.String">
            SELECT
                d.corp_name,
                d.corp_code,
                xs.total_pnl,
                xs.prev_total_pnl,
                xs.budget_profit
            FROM
                mdm_app_daily d
            LEFT JOIN (
                SELECT
                    ls.corp_code,
                    ls.prev_total_pnl,
                    ls.total_pnl,
                    t.budget AS budget_profit
                FROM
                    (
                        SELECT
                            x.corp_code,
                            SUM(x.prev_total_pnl) prev_total_pnl,
                            SUM(x.total_pnl) total_pnl
                        FROM
                            (
                                SELECT
                                    a.corp_code,
                                    round(
                                        SUM(a.ytd_total_pnl) / 100000000,
                                        2
                                    ) AS total_pnl,
                                    '' prev_total_pnl
                                FROM
                                    report_total_all a
                                WHERE
                                    a.corp_code = a.unit_code
                                AND a.trade_date = #{_parameter}
                                GROUP BY
                                    a.corp_code
                                UNION ALL
                                    SELECT
                                        p.corp_code,
                                        '' total_pnl,
                                        round(
                                            SUM(p.ytd_total_pnl) / 100000000,
                                            2
                                        ) AS prev_total_pnl
                                    FROM
                                        report_total_all p
                                    WHERE
                                        p.corp_code = p.unit_code
                                    AND p.trade_date = date_add(
                                        #{_parameter},
                                        INTERVAL - 1 YEAR
                                    )
                                    GROUP BY
                                        p.corp_code
                            ) x
                        GROUP BY
                            x.corp_code
                    ) ls
                LEFT JOIN index_market t ON t.org_code = ls.corp_code
                AND (
                    #{_parameter} BETWEEN t.effective_date
                    AND t.expiry_date
                )
                AND t.index_code = 'YK'
            ) xs ON xs.corp_code = d.corp_code
            WHERE
                d.module_name = 'chart'
            ORDER BY
                d.corp_seq
    </select>

    <select id="getPositionData" resultMap="DailyGroupPositionMap" parameterType="java.lang.String">
            SELECT
                x.corp_name,
                x.corp_code,
                x.corp_seq,
                x.cd_name,
                x.cd_code,
                x.cd_seq,
                x.index_code,
                round(x.futures_position/10000,2) futures_position,
                round(x.spot_position/10000,2) spot_position,
                round(x.total_position/10000,2) total_position
            FROM
                (
                    SELECT
                        s.corp_name,
                        s.corp_code,
                        s.corp_seq,
                        s.cd_name,
                        s.cd_code,
                        s.cd_seq,
                        s.index_code,
                        sum(a.total_net_position) futures_position,
                        sum(a.spot_exposure) spot_position,
                        sum(a.total_exposure) total_position
                    FROM
                        (
                            SELECT
                                t.*
                            FROM
                                mdm_app_daily t
                            WHERE
                                t.module_name = 'position'
                            AND t.cd_seq IS NOT NULL
                        ) s
                    LEFT JOIN report_total_all a ON a.corp_code = s.corp_code
                    AND a.unit_code = a.corp_code
                    AND a.cd_cat_code2 IN (
                        SELECT
                            cd.cd_code
                        FROM
                            mdm_cd_daily cd
                        WHERE
                            cd.p_cd_code = s.cd_code
                    )
                    AND a.trade_date = #{_parameter}
                    GROUP BY
                        s.corp_name,
                        s.corp_code,
                        s.corp_seq,
                        s.cd_name,
                        s.cd_code,
                        s.cd_seq,
                        s.index_code
                    UNION ALL
                        SELECT
                            s.corp_name,
                            s.corp_code,
                            s.corp_seq,
                            s.cd_name,
                            s.cd_code,
                            s.cd_seq,
                            s.index_code,
                            sum(a.total_net_position) futures_position,
                            sum(a.spot_exposure) spot_position,
                            sum(a.total_exposure) total_position
                        FROM
                            (
                                SELECT
                                    t.*
                                FROM
                                    mdm_app_daily t
                                WHERE
                                    t.module_name = 'position'
                                AND t.cd_seq IS NULL
                            ) s
                        LEFT JOIN report_total_all a ON a.corp_code = s.corp_code
                        AND a.unit_code = a.corp_code
                        AND a.trade_date = #{_parameter}
                        GROUP BY
                             s.corp_name,
                             s.corp_code,
                             s.corp_seq,
                             s.cd_name,
                             s.cd_code,
                             s.cd_seq,
                             s.index_code
                ) x
            ORDER BY
                x.corp_seq,
                x.cd_seq
    </select>

    <select id="getMaxDate" resultType="java.lang.String">
        select DISTINCT max(t.trade_date) from report_total_all t
    </select>

    <select id="getMaxPrevDate" resultType="java.lang.String" parameterType="java.lang.String">
        select DISTINCT max(t.trade_date) from report_total_all t where t.trade_date <![CDATA[<]]> #{_parameter}
    </select>

    <select id="getIndexValue" resultType="java.math.BigDecimal"
            parameterType="com.dossp.crp.daily.group.vo.DailyGroupPositionVo">
            SELECT
                t.index_value/10000 as index_value
            FROM
                index_market t
            WHERE
                t.corp_code = t.unit_code
            AND t.corp_code = #{corpCode}
            AND (
                #{tradeDate} BETWEEN t.effective_date
                AND t.expiry_date
            )
            AND t.index_property = #{indexProperty}
            AND t.index_code = 'CK'
            AND t.cd_cat_code2 = #{cdCode}
    </select>

</mapper>