<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dossp.crp.market.pnl.mapper.DailyCdPnlMapper" >
  <resultMap id="BaseResultMap" type="com.dossp.crp.market.pnl.model.DailyCdPnlModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="data_date" property="dataDate" jdbcType="VARCHAR" />
    <result column="cd_name" property="cdName" jdbcType="VARCHAR" />
    <result column="spot_floating_pnl_amt" property="spotFloatingPnlAmt" jdbcType="VARCHAR" />
    <result column="spot_realized_pnl_amt" property="spotRealizedPnlAmt" jdbcType="VARCHAR" />
    <result column="spot_all_pnl_amt" property="spotAllPnlAmt" jdbcType="VARCHAR" />
    <result column="total_floating_pnl_amt" property="totalFloatingPnlAmt" jdbcType="VARCHAR" />
    <result column="total_offset_pnl_amt" property="totalOffsetPnlAmt" jdbcType="VARCHAR" />
    <result column="futures_all_pnl_amt" property="futuresAllPnlAmt" jdbcType="VARCHAR" />
   	<result column="all_pnl_amt" property="allPnlAmt" jdbcType="VARCHAR" />
   	<result column="var" property="var" jdbcType="VARCHAR" />
  </resultMap>
  
 	<select id="getData" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
			m.cd_name,
			ROUND(IFNULL(qv.VaR,0)/10000,2) as var,
			ROUND(IFNULL(r.spot_floating_pnl_amt,0),2) AS spot_floating_pnl_amt,
			ROUND(IFNULL(r.spot_realized_pnl_amt,0),2) AS spot_realized_pnl_amt,
			ROUND(IFNULL(r.spot_all_pnl_amt,0),2) AS spot_all_pnl_amt,
			ROUND(IFNULL(r.total_floating_pnl_amt,0),2) AS total_floating_pnl_amt,
			ROUND(IFNULL(r.total_offset_pnl_amt,0),2) AS total_offset_pnl_amt,
			ROUND(IFNULL(r.futures_all_pnl_amt,0),2) AS futures_all_pnl_amt,
			ROUND(IFNULL(r.all_pnl_amt,0),2) AS all_pnl_amt
		FROM
			mdm_daily_report m
		LEFT JOIN (
			SELECT
				t.trade_date,
				mcd.p_cd_code,
				SUM(IFNULL(t.spot_floating_pnl_amt, 0))/100000000 AS spot_floating_pnl_amt,
				SUM(IFNULL(t.ytd_spot_realized_pnl_amt, 0))/100000000 AS spot_realized_pnl_amt,
				SUM(IFNULL(t.spot_floating_pnl_amt, 0) + IFNULL(t.ytd_spot_realized_pnl_amt, 0))/100000000 AS spot_all_pnl_amt,
				SUM(IFNULL(t.total_floating_pnl_amt,0))/100000000 AS total_floating_pnl_amt,
				SUM(IFNULL(t.ytd_total_offset_pnl_amt,0))/100000000 AS total_offset_pnl_amt,
				SUM(IFNULL(t.total_floating_pnl_amt, 0) + IFNULL(t.ytd_total_offset_pnl_amt, 0))/100000000 AS futures_all_pnl_amt,
				SUM(IFNULL(t.total_floating_pnl_amt, 0) + IFNULL(t.ytd_total_offset_pnl_amt, 0)+IFNULL(t.spot_floating_pnl_amt, 0) + IFNULL(t.ytd_spot_realized_pnl_amt, 0))/100000000 AS all_pnl_amt
				
			FROM
				mdm_cd_daily mcd
			INNER JOIN report_total_all t ON t.cd_cat_code2 = mcd.cd_code
			WHERE
				mcd.`level` = '3' AND #{_parameter} BETWEEN mcd.effective_date AND mcd.expiry_date
			AND t.corp_code = 'C1999' AND t.trade_date = #{_parameter} 
			GROUP BY
				t.trade_date,
				mcd.p_cd_code
		) r ON r.p_cd_code = m.cd_code
		LEFT JOIN (
			SELECT
				*
			FROM
				quant_var_cat q
			WHERE
				q.var_date = #{_parameter}
			AND q.corp_code = 'C1999'
			AND q.type = '1'
		) qv ON qv.cd_cat_code2 = m.cd_code
		WHERE
			m.report_name = 'ZLJTFPLYKRB'
		ORDER BY
			m.cd_seq;
  	</select>
  	
  	<select id="getLastDayData" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
			m.cd_name,
			ROUND(IFNULL(r.all_pnl_amt,0),2) AS all_pnl_amt
		FROM
			mdm_daily_report m
		LEFT JOIN (
			SELECT
				t.trade_date,
				mcd.p_cd_code,
				SUM(IFNULL(t.total_floating_pnl_amt, 0) + IFNULL(t.ytd_total_offset_pnl_amt, 0)+IFNULL(t.spot_floating_pnl_amt, 0) + IFNULL(t.ytd_spot_realized_pnl_amt, 0))/100000000 AS all_pnl_amt
				
			FROM
				mdm_cd_daily mcd
			INNER JOIN report_total_all t ON t.cd_cat_code2 = mcd.cd_code
			WHERE
				mcd.`level` = '3' AND #{_parameter} BETWEEN mcd.effective_date AND mcd.expiry_date 
			AND t.corp_code = 'C1999' AND t.trade_date = (SELECT MAX(x.trade_date) FROM report_total_all x WHERE x.trade_date <![CDATA[<]]> #{_parameter})
			GROUP BY
				t.trade_date,
				mcd.p_cd_code
		) r ON r.p_cd_code = m.cd_code
		WHERE
			m.report_name = 'ZLJTFPLYKRB'
		ORDER BY
			m.cd_seq;
  	</select>
  	
  	
  	<select id="findMaxDate" resultType="string">
  		SELECT MAX(x.trade_date) FROM report_total_all x 
  	</select>
  	
</mapper>